{% load static %}
<!DOCTYPE html>


<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
		<title>Ski Database - {% block title %} Skis! {% endblock %}</title>
		<img src="{% static "HTH_pano.jpg" %}" alt="HTH Traverse" vspace="10"/>
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
     <div class="navbar-inner">
         <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          	<a class="brand" href="/ski_app/">Ski Database!</a>

            <div class="nav-collapse collapse">
              <ul class="nav pull-right">
                  {% if user.is_authenticated %}
            			 <li class="navbar-text">Welcome, {{ user.username  }}!</li>
            			 <li><a href='/ski_app/logout/'>Logout</a><li>
            			{% else %}
            			 <li><a href='/ski_app/register/'>Register</a><li>
            			 <li><a href='/ski_app/login/'>Login</a><li>
            			{% endif %}
            	</ul>
            	<ul class="nav">
            			{% if user.is_authenticated %}
            			 <li><a href='/ski_app/add_ski/'>Add a Ski</a></li>
            			{% endif %}
            			 <li><a href='/ski_app/about/'>About Us</a><li>
                   <li><a href='/ski_app/search/'>Search</a><li>
            	</ul>
            </div>
            <!--/.nav-collapse -->
          </div>
      </div>
  </div>

  <div class="container-fluid" >
      <div class="row-fluid">
          <div class="span3">
              <div class="well sidebar-nav">
                  <!--- Empty for the timebeing -->
              </div>
              <!--/.well -->
          </div>
          <!--/span-->
          <div class="span9">
              {% block body_block %}
              {% endblock %}
          </div>
          <!--/span-->
      </div>
      <!--/row-->
  </div>
  <!--/.fluid-container-->

  <hr>

  <footer>
      <div class="container">
          <p>&copy; Ski Database 2014</p>
      </div>
  </footer>	

</body>
</html>